@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --bg-color: hsl(225, 100%, 94%);
    --card-color: hsl(245, 75%, 52%);
    --primary-fontcolor: hsl(245, 75%, 52%);
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    max-width: 360px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.card{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 360px;
}

.text{
    text-align: center;
    padding-top: 35px;
}
.text h2{
    color: hsl(223, 47%, 23%);
    font-size: 26px;
}
.text p{
    font-size: 16px;
    margin: 10px 60px 0 60px;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
}
.mid{
    display: flex;
    justify-content: center;
    justify-items: baseline;
    padding-top: 20px;
}
.icon{
    padding-right: 10px;
}
.plan{
    padding-right: 50px;
}
.change{
    color: var(--primary-fontcolor);
    font-weight: 700;
}
.bu{
    display: flex;
    justify-content: center;
    justify-items: baseline;
    padding-top: 20px;
}
#btn{
    background-color: var(--primary-fontcolor);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 5px 18px var(--primary-fontcolor);
}
.cancel{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cancel a{
    text-decoration: none;
    color: var(--primary-fontcolor);
}

.change a:hover{
    color: hsl(268, 81%, 49%);
    cursor: pointer;
    text-decoration: none;
}
#btn:hover{
    background-color: blueviolet;
    box-shadow: 0 5px 18px blueviolet;
    cursor: pointer;
}
.cancel a:hover{
    cursor: pointer;
    color: rgb(17, 16, 16);
}

